@import url('http://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('http://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*{
  padding: 0;
  margin: 0;
}
.object{
  position: absolute;
  background-color: #666262;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  min-height: 511px;
  border-radius: 15px;
  font-family: 'Jura';
}
.object p{
  width: 300px;
  font-size: 13px;
  text-align: justify;
  padding: 10px;
  color: #ffffff;
}
.content{
  margin-left: 350px;
  width: 700px;
  background-color: #d9d9d9;
  padding: 50px;
  border-radius: 15px;
  text-align: justify;
  font-family: 'Jura';
}
.content h1{
  font-family: 'Bebas Neue';
}
.main{
  margin-left: 60px;
  margin-top: 50px;
}
.pason{
  background-color: #fb8282;
  margin-left: 410px;
  margin-top: 20px;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}
.pason h1{
  position: absolute;
  font-family: 'Bebas Neue';
  padding-top: 15px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 50px;
}
.directions a{
  text-decoration: none;
  color: #000000;
}
.directions{
  padding-left: 20px;
  padding-top: 100px;

    margin-left: -10px;
}
.directions button{
  height: 30px;
  width: 80px;
  background-color: #d9d9d9;
  padding: 2px;
  border-radius: 5px;
  border-style: none;
  font-family: 'Jura';
}
